body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
}

.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Double the width to enable horizontal scrolling */
  height: 110vh;
  z-index: -1;
}

.star {
  position: absolute;
  background: #fff;
  width: 2.5px;
  height: 2.5px;
  opacity: 0.6;
  animation: twinkle 5s linear infinite;
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
div.title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgb(6, 135, 255);
  filter: drop-shadow(0px 0px 1px white);
  --animation-color: #d6d7d6dd;
  --fs-size: 9vw;
  letter-spacing: 0.4vw;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.button:hover .hover-text {
  width: 110%;
  filter: drop-shadow(0 0 20px var(--animation-color));
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px var(--animation-color);
}
div#coming_soon {
  /* border: 2px solid red; */
  position: relative;
  top: -180px;
}

#coming_soon > button {
  font-size: 1vw;
}

span#hidden {
  position: absolute;
  top: 50;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 300px;
}

#hidden > span {
  display: inline-block;
  font-size: 2vw;
  color: transparent;
  -webkit-text-stroke: 2px white;
  transform: translateY(100%);
  animation: appear 0.5s forwards;
  animation-delay: calc(0.2s * var(--index));
  /* visibility: hidden; */
  /* opacity: 0; */
}

#hidden:hover > span {
  opacity: 1;
  visibility: visible;
  animation-play-state: running;
  animation: blinker 0.8s infinite alternate;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes blinker {
  to {
    scale: 0.7;
  }
}

@keyframes twinkle {
  0% {
    transform: translateY(0) rotate(0deg) scale(0.5);
    opacity: 0.7;
    /* box-shadow: 0px 0px 10px 2px #ffffffdd; */
    border-radius: 50%;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg) scale(2);
    opacity: 0;
  }
}
