:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* font-family: 'Rubik', sans-serif !important; */
  overflow-x: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
}

.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Double the width to enable horizontal scrolling */
  height: 110vh;
  z-index: -1;
}

.star {
  position: absolute;
  background: #fff;
  width: 2.5px;
  height: 2.5px;
  opacity: 0.6;
  animation: twinkle 5s linear infinite;
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
div.title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif !important;
}
/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgb(6, 135, 255);
  filter: drop-shadow(0px 0px 1px white);
  --animation-color: #d6d7d6dd;
  --fs-size: 9vw;
  letter-spacing: 0.4vw;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.button:hover .hover-text {
  width: 110%;
  filter: drop-shadow(0 0 20px var(--animation-color));
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  color: white;
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* div.wrapps {
  border: 2px solid red;
  position: relative;
  bottom: 100px;
} */
.wrapper {
  display: grid;
  place-content: center;
  min-height: 5vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 5vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(6, 135, 255);
  position: relative;
  overflow: hidden;
}

.wrapper:hover .top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wrapper:hover .bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}

.top,
.bottom {
  transition: clip-path 0.5s ease-in-out;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 100;

  background: rgb(0, 0, 0);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #274060 74%);
}

.text {
  font-family: "Yanone Kaffeesatz";
  font-size: 100px;
  display: flex;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
    }
    .shadow {
      transform: scale(1, -1);
      color: #999;
      transition: ease-in 5s, ease-out 5s;
    }
    &:hover {
      .letter {
        transform: translateY(-200%);
      }
      .shadow {
        opacity: 0;
        transform: translateY(200%);
      }
    }
  }
}

@keyframes twinkle {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
  }
}